body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
/**************************HEADER*****************************/
.header{
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-img{
    margin:0 0 2rem 0;
}

.header-h1{
    font-size: .9rem;
}

/**********************MAIN***********************************/
main{
    background-color: #f5f5f5;
    padding: 8rem 0;
}

.professor-container{
    max-width: 450px;
    padding: 10px;
    margin: 0 auto 5rem auto;
    text-align: center;
}

.professor-img{
    width: 100%;
    margin-bottom: 1rem;
}

.professor-nome{
    font-weight: 900;
    font-size: 1.5rem;
}

.professor-price{
    font-weight: 700;
    color: #f52273;
}

.professor-descricao{
    margin: 1.5rem 0 ;
}

.professor-formulario{
    display: flex;
    justify-content: space-between;
}

.professor-formulario__input{
    width: 48%;
    color: #565656;
    background-color: #f5f5f5;
    outline: none;
    border: 1px solid #c4c4c4;
    padding: 1rem 0;
    text-align: center;
    font-size: 20px;
}

.professor-formulario__btn{
    width: 48%;
    color: #fff;
    background-color: #f52273;
    border: none;
    font-weight: 900;
    transition: 0.5s;
    
}

.professor-formulario__btn:hover{
    background-color: #cd1c60;
    transition: 0.5s;
    cursor: pointer;
}

